.content {
    margin: 80px 60px 80px 60px;
}

body span {
    color: #474A51;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    text-align: left;
}

.cart__title span {
    font-family: Lovelace;
    font-size: 52px;
    font-weight: 400;
    line-height: 67.6px;
    text-align: center;
    margin-bottom: 80px;
}

.product__title {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
    text-align: left;

}

.product img {
    width: 188px;
    height: 200px;
    object-fit: cover;
}

.marg {
    margin-top: 80px;
    column-gap: 100px;
}

.product {
    border-top: 1px solid #9F9D9D;
    padding: 30px 0;
}

.product svg {
    cursor: pointer;
}

input {
    margin-top: 20px;
    border: none;
    padding-bottom: 16px;
    border-bottom: 1px solid;
}

svg{
    cursor: pointer;
}

.marg .submit__btm {
    margin-top: 60px;
    margin-bottom: 10px;
    width: Hug (211px)px;
    height: Hug (51px)px;
    top: 660px;
    left: 903px;
    padding: 15px 35px 15px 35px;
    background: #DDE8F6;
    border: none;
}

.enter__btn {
    border: 1px solid #474A51;
    background-color: transparent;
    width: Hug (161px)px;
    height: Hug (51px)px;
    padding: 15px 35px 15px 35px;
    border: 1px 0px 0px 0px;
}

.list__price {
    margin-top: 80px;
}

.list__price span {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
    color: #474A51;
}