.content {
    margin: 30px 60px 80px 60px;
}

.content span {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    color: #474A51;
}

.title {
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

.title span {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
}

.svg {
    cursor: pointer;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sizes .cart__btn {
    margin-top: 5px;
}

.sizes button {
    background-color: transparent;
    border: none;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sizes button:hover {
    background-color: #474A51;
    color: white;
}

.img1:hover .sizes {
    opacity: 1;
}

.img1:hover .svg {
    opacity: 1;
}

.img2:hover .sizes {
    opacity: 1;
}

.img2:hover .svg {
    opacity: 1;
}

.img3:hover .sizes {
    opacity: 1;
}

.img3:hover .svg {
    opacity: 1;
}

.img4:hover .svg {
    opacity: 1;
}

.img4:hover .sizes {
    opacity: 1;
}

.sizes {
    padding-top: 12px;
    padding-bottom: 12px;
    column-gap: 14px;
    background: #dde8f671;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.img1 {
    height: 420px;
    width: 297px;
    background-image: url("../assets/favorite/1.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;

}

.img2 {
    height: 420px;
    width: 297px;
    background-image: url("../assets/favorite/2.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;

}

.img3 {
    height: 420px;
    width: 297px;
    background-image: url("../assets/favorite/3.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;

}

.img4 {
    height: 420px;
    width: 297px;
    background-image: url("../assets/favorite/4.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.title_prod {
    padding-top: 20px;
    font-family: Futura PT;
    font-size: 6px;
    font-weight: 400;
    line-height: 20.8px;
    color: #474A51;
}