.jumbo {
    height: 700px;
    background-image: url("../assets/main/2a030b398ec3b4f0b499d86394d8be72.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.jumbo button {
    background: #DDE8F6;
    width: Hug (149px)px;
    height: Hug (51px)px;
    padding: 15px 35px 15px 35px;
    gap: 10px;
    opacity: 0px;
    border: 0;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 0.02em;
    text-align: center;

}

.jumbo span {
    font-family: Lovelace;
    font-size: 52px;
    font-weight: 400;
    line-height: 67.6px;
    text-align: center;
    padding-bottom: 30px;
    color: white;
}

.category span {
    color: #FFFFFF;
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-bottom: 30px;
}

.category .novelty {
    height: 600px;
    background-image: url("../assets/main/622389341df21b1bf63ce652689d7794.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.category .sales {
    height: 600px;
    background-image: url("../assets/main/c54c193793985be5429385406c863d7a.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.category button {
    border: 1px solid #FFFFFF;
    width: Hug (146px)px;
    height: Hug (51px)px;
    padding: 15px 35px 15px 35px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 0.02em;
}

.catalog {
    margin: 160px 60px 160px 60px;
    color: #474A51;
}

.catalog .show__all button {
    border: 1px solid #474A51;
    width: Hug (202px)px;
    height: Hug (51px)px;
    padding: 15px 35px 15px 35px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 0.02em;
    background-color: transparent;
}

.catalog .title {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 80px;
}

.catalog .row {
    column-gap: 30px;
    margin-bottom: 80px;
}

.title__product {
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    text-align: center;
}

.price {
    margin-top: 5px;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
}

img1:hover+.sizes {
    opacity: 1;
}

.img1 {
    height: 600px;
    background-image: url("../assets/main/card/1.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
    margin-bottom: 20px;
}

.point {
    padding: 10px 15px;
    background-color: #285DA1;
    color: white;
}

.sizes {
    padding-top: 12px;
    padding-bottom: 12px;
    column-gap: 14px;
    background: #dde8f671;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.img1:hover .sizes {
    opacity: 1;
}

.img1:hover .favorite {
    opacity: 1;
}

.img2:hover .sizes {
    opacity: 1;
}

.img2:hover .favorite {
    opacity: 1;
}

.img3:hover .sizes {
    opacity: 1;
}

.img3:hover .favorite {
    opacity: 1;
}

.sizes .cart__btn {
    margin-top: 5px;
}

.sizes button {
    background-color: transparent;
    border: none;
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.sizes button:hover {
    background-color: #474A51;
    color: white;
}

.favorite {
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}


.img1 .point span {
    color: white;
    font-family: Futura PT;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.2px;
    letter-spacing: 0.02em;
    text-align: center;
}

.img2 {
    height: 600px;
    background-image: url("../assets/main/card/2.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
    margin-bottom: 20px;
}

.img3 {
    height: 600px;
    background-image: url("../assets/main/card/3.jpeg");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
    margin-bottom: 20px;
}

.lookbook .body {
    background-color: #EEEEEE;
    padding-left: 100px;
    padding-right: 100px;
}

.lookbook {
    max-height: 700px;
}

.lookbook .body button {
    color: #474A51;
    width: Hug (146px)px;
    height: Hug (51px)px;
    padding: 15px 35px 15px 35px;
    border: 1px 0px 0px 0px;
    background-color: transparent;
    margin-top: 50px;
}

.lookbook .body p {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: #474A51;
}

.lookbook .body span {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    text-align: left;
    color: #474A51;
}

.lookbook .body .title__look {
    font-family: Lovelace;
    font-size: 52px;
    font-weight: 400;
    line-height: 67.6px;
    padding-bottom: 10px;
}

.instagram {
    margin-top: 160px;
}

.instagram .title_inst {
    color: #474A51;
    font-family: Futura PT;
    font-size: 24px;
    font-weight: 400;
    line-height: 31.2px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
    text-align: center;
}

.instagram .inst {
    color: #474A51;
    font-family: Lovelace;
    font-size: 52px;
    font-weight: 500;
    line-height: 67.6px;
    text-align: center;
    margin-bottom: 80px;
}

.instagram .photo span {
    font-family: Futura PT;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}

.instagram .photo .blur {
    background-color: #dde8f67e;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.instagram .photo .col:hover .blur {
    opacity: 1;
}

.instagram {}

/* #DDE8F6 */
.img7 {
    height: 350px;
    padding: 0;
    background-image: url("../assets/main/inst/1.png");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.img8 {
    padding: 0;
    height: 350px;
    background-image: url("../assets/main/inst/2.png");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.img9 {
    padding: 0;
    height: 350px;
    background-image: url("../assets/main/inst/3.png");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}

.img10 {
    padding: 0;
    height: 350px;
    background-image: url("../assets/main/inst/4.png");
    background-position: center;
    background-size: cover;
    background-position-y: 0;
}